.form {
  display: flex;
  gap: 4px;
  margin: 12px auto;
  justify-content: center;
  width: min-content;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #0000007b;
}

.input {
  padding: 6px;
  border: none;
  border-radius: 3px;
  background-color: #fffffff2;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background: #fffffff2;;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  padding: 4px;
}
