.img {
  width: 360px;
  height: 206px;
  object-fit: cover;
}

.ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.li {
  border: 0.8px solid #363636da;
  border-radius: 4px;
  width: 320px;
  height: min-content;
  overflow: hidden;
  background-color: #fffffff2;
}

.link {
  color: #232323;
  font-size: 20px;
  padding-bottom: 4px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 500;
}
