.img {
  display: block;
  width: 208px;
  height: 220px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}

.ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
}

.li {
  border: 0.8px solid #363636da;
  min-width: 208px;
  max-width: min-content;
  height: 270px;
  background-color: #fffffff2;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #0000007b;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .img {
    width: 250px;
  }
}
