.button {
  width: 110px;
  align-self: center;
  background-color: #efbb61c0;
  color: #000000;
  border: 1px transparent solid;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 12px;
}

.button:hover,
.button:focus {
  background-color: #d39a37c0;
}
